@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f6f6;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Home {
  margin-top: 80px; 
}

nav {
  height: 80px; 
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  padding: 16px;
}
